<h2>Register User</h2>

<form action="/users/create_user" method="post">
	<input name="authenticity_token" value= "<%=form_authenticity_token %>" type="hidden">
	<div class="form">
		<label>Email</label>
		<input type="text" name="user[email]" value="fake@email.com">
	</div>
	<div class="form">
		<label>Name</label>
		<input type="text" name="user[name]" value= "Test1" >
	</div>
	<div class="form">
		<label>Password</label>
		<input type="text" name="user[password]" value="password">
	</div>
	<div class="form">
		<label>Password Confirmation</label>
		<input type="text" name="user[password_confirmation]" value="password">
	</div>
	<input type="submit" value="Join">

	<%= flash[:errors] %>
</form>