// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#showpg_bottom_left{
	display: inline-block;
	vertical-align: top;
	padding: 10px 30px;
}
#showpg_bottom_right{
	display: inline-block;
	vertical-align: top;
	padding: 10px 30px;
}